.fondo{
    background: black;
}
.abajo{
   .abajo{
      background: gainsboro;
      float: right;
  
  
      width: 100%;
      height: 10%;
  
   }
 
   
}
.pan{
    height:700px;
    width: 100%;
    background: white;
    margin-top: 5%;
}
.formu{

   height:100%;
   background: white;
   width: 900px;
   margin-left: 20%;
   
   
   border-color: black;
   border:3px solid gray;

}